 <%= form_for(:session, url: 'http://localhost:3000/users/sign_in') do |f| %>
  <div class="form-group">
    <%= f.label :email,"Email" %><br />
    <%= f.email_field :email, autofocus: true  %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, autocomplete: "off"  %>
  </div>
  <div class="actions">
    <%= f.submit "Sign In" %>
  </div>
  <br>
<% end %>

