<h1>New Event<h1>


<%= form_with scope: :event, url: events_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </p>

  <p>
    <%= form.label :place_id %><br>
    <%= form.collection_select(:place_id, Place.all, :id, :name)%>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
