<h1>Listing Tickets</h1>

<%= form_tag(tickets_path, method: :get) do %>
  <%= text_field_tag :description, params[:description] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<%= link_to 'New ticket', new_ticket_path %>
<table>
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.description%></td>
      <td>$<%= ticket.price %></td>
      <td><%= Event.find(ticket.event_id).name %></td>

      <td><%= link_to 'Show', ticket_path(ticket) %></td>
      
      <% user = User.find(session["warden.user.user.key"][0][0]) %>
      <% a = Ability.new(user) %>
      <% if a.can? :manage, ticket%>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket_path(ticket),
                    method: :delete,
                    data: { confirm: 'Are you sure you want to delete this post?' }%></td>
      <% end %>
      


  <% end %>
</table>