<h1>Shopping Bag</h1>
<% total = 0 %>
<table>
  <tr>
    <th>Ticket</th>
    <th>Event</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 <% puts "helloooo" %>
 <% puts @shopping_bag %>
  <% @shopping_bag.each do |sb| %>
  <% puts sb.user_id %>
    <tr>
      <% total += Ticket.find(sb.ticket_id).price %>
      <% user = User.find(session["warden.user.user.key"][0][0]) %>
      <% a = Ability.new(user) %>
      <% if a.can? :read, sb%>
        <td><%= Ticket.find(sb.ticket_id).description%></td>
        <td><%= Event.find(Ticket.find(sb.ticket_id).event_id).name %></td>
        <td>$<%= Ticket.find(sb.ticket_id).price %></td>
        <td><%= link_to 'Remove', user_ticket_path(sb),
                        method: :delete,
                        data: { confirm: 'Are you sure you want to delete this post?' }%></td>
      <% end %>

  <% end %>
</table>

<h3> Total: <%=total%></h3>