<h1>Listing Places</h1>
 <h1><%=session["warden.user.user.key"][0][0]%></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Capacity</th>
    <th></th>
  </tr>
 
  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.address %></td>
      <td><%= place.capacity %></td>
      <td><%= link_to 'Show', place_path(place) %></td>

      <% if can? :destroy, place%>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to place_path(place),
                    method: :delete,
                    data: { confirm: 'Are you sure you want to delete this post?' } do %></td>
        <% end %>
      <% end %>

      <% if User.find(session["warden.user.user.key"][0][0]).admin %>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to place_path(place),
                    method: :delete,
                    data: { confirm: 'Are you sure you want to delete this post?' } do %></td>
        <% end %>
      <% end %>

  <% end %>
</table>