<!DOCTYPE html>
<html>
  <head>
    <title>Lab4Assignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
          <% if session["warden.user.user.key"][0][0] %>

            <li><a  href="http://localhost:3000/users/sign_out" data-method="delete">Log out</a> </li>
          <% end %>
        
      
    </nav>
  	<p id="notice"><%= notice %></p>
    <%= yield %>

    
  </body>
</html>